<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Расчёт накоплений на свою квартиру</title>
	<link rel="stylesheet" href="styles.css">
	<script src="angular.js"></script>
	<script src="main.js"></script>
</head>
<body ng-app="flat">
	<div ng-controller="main">
		<h1>Основные сведения</h1>
		<a href="#" ng-click="setDef()">пример</a>
		<p>Внимание, отсутствует защита от дурака на ввод</p>
		<h3>Кредит</h3>
		<dl>
			<dt>Сумма кредита</dt>
			<dd><input type="number" ng-model="input.crSum"></dd>
		</dl>
		<dl>
			<dt>Процентная ставка</dt>
			<dd><input type="number" ng-model="input.crDefPrecents"> % годовых</dd>
		</dl>
		<dl>
			<dt>Срок</dt>
			<dd><input type="number" ng-model="input.crYears"> лет ({{+input.crYears*12}} месяцев)</dd>
		</dl>
		<br>
		<h3>Накопление</h3>
		<dl>
			<dt>Ежемесячный вклад</dt>
			<dd><input type="number" ng-model="input.save"> <a ng-show="ok" href="#" ng-click="input.save=avgPay()">средний</a></dd>
		</dl>		
		<dl>
			<dt>Годовой %</dt>
			<dd><input type="number" ng-model="input.savePerc"></dd>
		</dl>
		<dl>
			<dt>Цена квартиры</dt>
			<dd><input type="number" ng-model="input.price"></dd>
		</dl>
		<dl>
			<dt>% роста цены жилья</dt>
			<dd><input type="number" ng-model="input.flatGrow"></dd>
		</dl>
		<dl>
			<dt>Затраты на аренду жилья</dt>
			<dd><input type="number" ng-model="input.rent"></dd>
		</dl>
		<p>
			Деньги кладутся в банк каждый год, т.е. 1 год вложений не будет, а проценты будут выплачены лишь в конце 2 года.
		</p>
		
		<div><button ng-click="calc()">Рассчитать</button></div>
		
		<div ng-show="ok">
			<table border="1">
				<tr>
					<th>Месяц</th>
					<th title="Долг на начало месяца">Долг начало</th>
					<th title="Долг на конец месяца">Долг конец</th>
					<th>% ставка год</th>				
					<th>Оплата долга</th>
					<th>Начисленные проценты</th>
					<th>Ежемесячная плата</th>
					<th>% выплаты</th>
					<th></th>
					<th title="с учётом вкладов">Накопление</th>
					<th title="изменение стоимости жилья">Изм. цены</th>
					<th>Аренда</th>
				</tr>
				<tr ng-repeat="item in data">
					<td ng-bind="item.month"></td>
					<td ng-bind="item.creditLeftBegin.toFix()"></td>
					<td ng-bind="item.creditLeftEnd.toFix()"></td>
					<!-- input -->
					<td title="{{item.monthlyPerc.toFix()}} в месяц" ng-bind="item.yearPerc.toFix()"></td>
					<td ng-bind="item.monthlyPay.toFix()"></td>
					<td ng-bind="item.monthlyPayPerc.toFix()"></td>
					<td ng-bind="item.mothlyTotalyPay.toFix()"></td>
					<td ng-bind="item.payedPercents.toFix()"></td>
					<td></td>
					<td ng-bind="item.saved.toFix()"></td>
					<td title="{{item.flatPrice.toFix()}}" ng-bind="item.flatPriceDelta.toFix()"></td>
					<td ng-bind="item.rent.toFix()"></td>
				</tr>
				<tr>
					<th>Итого</th>
					<td colspan="4"></td>
					<td class="res_1" title="переплата" ng-bind="payedPercents().toFix()"></td>
					<td class="res_2" title="суммарная выплата" ng-bind="payedTotal().toFix()"></td>
					<td class="res_3" title="переплата %" ng-bind="'+'+(+payedPercents()*100/saveCr).toFix()+' %'"></td>

					<td></td>
					<td colspan="3" title="заключение" ng-bind="flatBuy()"></td>
				</tr>
			</table>
		</div>

	</div>
</body>
</html>