dl, dt, dd {
	display: inline-block;
	margin: 0;
}

dt {
	font-weight: bold;
}

dl {
	margin-right: 10px;
}

dl input {
	max-width: 100px;
}

table {
	width: 100%;
}

.res_1, .res_2, .res_3 {
	font-size: 1.2em;
}

.res_1 {
	background-color: red;
	color: #fff;
}
.res_2 {
	background-color: pink;	
}
.res_3 {
	color: rgb(0,0,200);
}